@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "_media";
@import "_variaveis";

html {
    scroll-behavior: smooth;
}

body {
    &[data-theme="default"] {
        --primaria: #ff4e00;
        --secundaria: #49BAEA;
        --areanav: transparent;
        --navmenu: #000000;
        --menu: #ffffff;
        --menu-hover: var(--secundaria);
        --menu-ativo: #000000;
        --titulos: #000000;
        --texto: #222222;
        --link: var(--primaria);
        --link-hover: #000000;
        --fundo: #ffffff;
        --rodape: #000000;
    }

    &[data-theme="dark"] {
        --primaria: #ff5500;
        --secundaria: #49BAEA;
        --areanav: transparent;
        --navmenu: #eeeeee;
        --menu: #000000;
        --menu-hover: #ffffff;
        --menu-ativo: var(--primaria);
        --titulos: #000000;
        --texto: #CCCCCC;
        --link: var(--primaria);
        --link-hover: var(--secundaria);
        --fundo: #222222;
        --rodape: #222222;


        #home {
            background-image: url(../img/ban-dark.jpg);
        }

        #sobre,
        #contatos {
            background-color: $escuro;
        }

        .modal-secao {
            background-color: $escuro;
        }

        footer {
            background-color: var(--rodape);
        }

        .btn {

            &:hover,
            &:actives {
                border-color: var(--primaria);
            }
        }

        .navbar-nav {
            backdrop-filter: blur(2px);
            border-color: rgba(255, 255, 255, 0.5);
            background: rgba(255, 255, 255, 0.55);

            @include media(sm-abaixo) {
                border-bottom-left-radius: 9px;
                border-bottom-right-radius: 9px;
                background: rgba(0, 0, 0, 0.55);
            }
        }

        nav {
            background-image: linear-gradient(to right, rgba(255, 255, 255, 0.7) 0%, rgba(0, 0, 0, 0.7) 40%);

            &.menu-fundo {
                @include media(sm-acima) {
                    background-image: none;
                    background-color: var(--areanav);
                }
            }

            .nav-link {
                @include media(sm-abaixo) {
                    color: $claro;
                }
            }
        }

        .nav-link {
            color: var(--link);

            &:hover {
                color: var(--link-hover);
            }

            &.active {
                font-weight: bold;
                color: var(--link-hover) !important;
                border-top: 1px dotted;
                border-bottom: 1px dotted;
                border-radius: 0;
                background-color: transparent;
                cursor: default;
            }
        }

        .tab-content {
            h5 {
                color: $claro;
            }
        }

        .banner-titulos {
            img {
                filter: drop-shadow(0px 0px 14px $escuro);
            }
        }

        h3 {
            color: $cinza-claro;
        }

        h4 {
            color: $cinza-medio;
        }

        .tag {
            background-color: $cinza-medio;
        }

        .temas {
            color: $escuro;

            &:hover {
                color: var(--primaria);
            }
        }

        .modal-header,
        .modal-footer {
            color: $cinza-claro;
            background-color: $escuro;

            .btn-close {
                background-color: $cinza-medio;
            }
        }

        .modal-body {
            color: $cinza-claro;
            background-color: $cinza-escuro;
        }
    }
}

body {
    font-family: "Roboto",
        sans-serif;
    font-size: $s20;
    font-style: normal;
    color: var(--texto);
    background-color: var(--fundo);

    @include media(sm-abaixo) {
        font-size: $s18;
    }

    &.parar-rolagem {
        overflow: hidden;
        height: 100%;
        margin: 0;
    }
}

.tooltip {
    @include media(sm-abaixo) {
        display: none !important;
        visibility: hidden !important;
    }
}

body[data-lang="pt"] .lang-en {
    display: none;
}

body[data-lang="en"] .lang-pt {
    display: none;
}

body[data-lang="en"] .lang-en {
    display: grid-lanes;
}

.idiomas {
    position: fixed;
    bottom: 120px;
    left: -104px;
    z-index: 9;
    border-radius: 5px;
    padding: 10px 15px;
    transition: 1s;
    background-color: var(--fundo);

    &:hover {
        transition: 1s;
        left: -5px;

        .idiomas-animado {
            opacity: 0;
        }
    }

    img {
        width: 32px;
        height: auto;
        margin: 4px;
    }

    .idiomas-animado {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        text-align: center;
        rotate: -90deg;
        width: 110px;
        position: absolute;
        top: 16px;
        left: 66px;
        padding: 5px;
        border: 1px solid;
        border-radius: 5px;
        border-color: $escuro;
        background-color: var(--fundo);
        transition: 1s;

        img {
            width: 20px;
            height: auto;
        }
    }
}

.primaria {
    color: var(--primaria) !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sansita", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: var(--titulos);
    margin-bottom: 0px;
}

h1 {
    font-size: $s65;
    font-weight: 900;

    @include media(lg) {
        font-size: $s50;
    }

    @include media(md-abaixo) {
        font-size: $s50;
    }

    @include media(sm-abaixo) {
        margin-top: 30px;
    }

    b {
        color: var(--primaria);
    }
}

h2 {
    font-size: $s26;
    font-weight: 200;
    color: var(--primaria);
}

h3 {
    font-size: $s50;
}

h4 {
    font-family: "Roboto",
        sans-serif;
    font-size: $s30;
    font-weight: 400;
    margin-bottom: 60px;
}

h5 {
    font-size: $s24;
    font-weight: 400;
}

a {
    color: var(--link);
    text-decoration: none;

    &:hover {
        text-decoration: none;
        color: var(--link-hover);
    }
}

p {
    a {
        color: var(--link);
        text-decoration: none;

        &:hover {
            text-decoration: none;
            color: var(--link-hover);
        }
    }
}

.btn {
    font-size: $s20;
    color: $claro !important;
    padding-left: 20px;
    padding-right: 20px;
    border-color: transparent;
    border-radius: 100px;
    background-color: var(--primaria);

    &:hover {
        text-decoration: none;
        color: $claro !important;
        border-color: transparent;
        background-color: $escuro !important;
    }
}

.btn-sm-w100 {
    @include media(sm-abaixo) {
        width: 100%;
    }
}

.botoes {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    @include media(sm-abaixo) {
        flex-direction: column;
    }

    .btn {
        margin-bottom: 20px;
    }
}

.btn-preto {
    background-color: $escuro;

    &:hover {
        background-color: var(--primaria) !important;
    }
}

hr {
    margin: 1.3rem 0;
}

.logo {
    width: 170px;
}

.temas {
    font-size: $s20;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin-right: 15px;
    border-radius: 100%;
    cursor: pointer;
    backdrop-filter: blur(2px);
    border-color: rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.55);

    @include media(sm-abaixo) {
        position: fixed;
        top: 120px;
        right: 0px;
        z-index: -1;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4)
    }

    &.temas-esconde {
        @include media(sm-abaixo) {
            display: none;
        }
    }
}

.botao-nav {
    font-size: $s18;
    background-color: #25D366;

    @include media(sm-abaixo) {
        display: none;
    }
}

.nav-pills {
    justify-content: center;

    @include media(lg-acima) {
        max-width: 1240px;
        margin: 0 auto;
    }

    .nav-link {
        color: var(--link);

        &:hover {
            color: var(--link-hover);
        }

        &.active {
            font-weight: bold;
            color: var(--link-hover) !important;
            border-top: 1px dotted;
            border-bottom: 1px dotted;
            border-radius: 0;
            background-color: transparent;
            cursor: default;
        }
    }
}

.tab-content {
    @include media(lg-acima) {
        margin: 0px 40px;
    }
}

nav {
    transition: 1s;
    background-color: rgba(255, 255, 255, 0.9);

    @include media(sm-abaixo) {
        box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.4)
    }

    &.menu-fundo {
        @include media(sm-acima) {
            background-color: var(--areanav);
        }
    }
}

.navbar-toggler {
    background-color: $escuro;

    &:actives,
    &:focus {
        outline: none;
        box-shadow: none;
    }
}

.navbar-toggler-icon {
    font-family: bootstrap-icons !important;
    background-image: none;

    &::before {
        content: "\F479";
        font-size: 30px;
        color: #fff;
    }
}

.navbar-collapse {
    @include media(sm-abaixo) {
        border-top: 1px solid;
        border-color: var(--link);
        margin-top: 10px;
    }
}

.menu-updown {
    top: -113px;
    transition: 1s;
    z-index: 9 !important;
}

.menu-updown-show {
    top: 0px;
    transition: 1s;
    z-index: 9;
}

.navbar-nav {

    @include media(md-acima) {
        margin: 0 auto;
        padding: 0 15px;
        border: 1px solid;
        border-color: rgba(0, 0, 0, 0.5);
        border-radius: 100px;
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
        background: rgba(0, 0, 0, 0.55);
    }

    .nav-link {
        font-size: $s18;
        font-weight: 400;
        color: var(--menu);

        @include media(sm-abaixo) {
            text-align: center;
            color: var(--primaria);
        }

        &:hover {
            color: var(--menu-hover);
        }

        &.actives,
        &.show {
            color: var(--menu-ativo);
        }
    }
}

.modal-secao {
    min-height: 338px;
    background-color: $cinza-claro;
}

.secao {
    /* scroll-margin-top: 113px; */
    padding: 80px 0px;
}

.subir {
    font-size: $s40;
    position: fixed;
    z-index: 1;
    bottom: 65px;
    right: 15px;
    color: var(--primaria);
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: .32s;
    opacity: 0;

    &:hover {
        color: var(--secundaria);
    }

    &.aparecer {
        opacity: 1;
    }
}

figure {
    margin: 0px;
    transition: 1s;
    overflow: hidden;

    &.faixada {
        border-radius: 30px;
        border-bottom: 15px solid;
        border-color: var(--primaria);
    }

    &:hover {
        border-color: var(--link-hover);
        transition: 1s;
    }
}

.img-zoom {
    transition: transform 3s, filter 1.5s ease-in-out;
    transform-origin: center center;

    &:hover {
        transform: scale(1.3);
        transform-origin: center center;
    }
}

#home {
    background-image: url(../img/ban0.jpg);
}

.banner {
    padding-top: 130px;
    padding-left: 0px;
    padding-right: 0px;
    background-repeat: no-repeat;
    background-position: top right;
    background-size: auto;

    @include media(md-abaixo) {
        background-position: top center;
    }

    @include media(sm-abaixo) {
        background-repeat: repeat;
    }
}

.banner-titulos {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 0 20px;

    @include media(sm-abaixo) {
        flex-direction: column;
        position: relative;
    }

    @include media(xxl-acima) {
        padding: 0 13%;
    }

    @include media(ul-acima) {
        padding: 0 13%;
    }

    @include media(xul-acima) {
        padding: 0 380px;
    }

    h1 {

        @include media(md, xxl-acima) {
            font-size: $s45;
        }
    }

    h2 {
        font-size: $s45;

        @include media(md) {
            font-size: $s26;
        }

        @include media (sm-abaixo, md-abaixo) {
            font-size: $s40;
        }

        @include media(lg) {
            font-size: $s35;
        }
    }

    p {
        color: $escuro;
    }

    img {
        width: 100%;
        max-width: 340px;
        margin-right: 7%;
        filter: drop-shadow(0px 0px 14px var(--primaria));
        position: relative;
        animation: moveSideToSide 3s ease-in-out infinite alternate;

        @include media(sm-abaixo) {
            max-width: 320px;
            margin-right: -10%;
        }

        @include media(lg) {
            max-width: 32%;
        }
    }
}

@keyframes moveSideToSide {
    from {
        right: 0px;
    }

    to {
        right: 60px;
    }
}

.redes {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;

    a {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            max-width: 42px;
        }

        p {
            font-size: $s14;
        }
    }
}

.empresas {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    @include media(sm-abaixo) {
        justify-content: center;
    }

    a {
        margin-top: 20px;
        margin-right: 40px;

        &:first-child {
            margin-left: 10px;
        }
    }

    img {
        max-height: 42px;
        max-width: 146px;

        @include media(sm-abaixo) {
            max-height: 33px;
        }
    }
}

.tags {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.tag {
    font-size: $s14;
    color: $escuro;
    padding: 3px 10px;
    margin: 5px;
    border-radius: 7px;
    background-color: $claro;
}

.foto-parallax {
    background-image: url("../img/perfil-parallax.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: -240px center;
    background-size: contain;
    border-radius: 100%;
    margin: 0 auto;
    width: 470px;
    height: 470px;

    @include media(lg) {
        width: 383px;
        height: 383px;
    }

    @include media(md-abaixo) {
        background-position: center;
        background-size: cover;
    }

    @include media(sm-abaixo) {
        width: 340px;
        height: 340px;
    }
}

.foto-perfil {
    width: 100%;
    max-width: 475px;
    border-radius: 100%;
}

#sobre {
    background-color: $cinza-medio;

    .sobremim {
        @include media(sm-abaixo) {
            flex-direction: column-reverse;
        }
    }
}

#contatos {

    color: $cinza-medio;
    background-color: $cinza-escuro;

    h3 {
        color: $cinza-claro;
    }
}

input,
textarea {
    background-color: $cinza-escuro !important;

    &:focus {
        background-color: $cinza-medio !important;
    }

    &.preenchido {
        background-color: $cinza-claro !important;
    }
}

textarea {
    min-height: 150px !important;
}

.oscontatos {
    display: flex;
    flex-direction: column;

    a {
        color: var(--link);
        display: flex;
        align-items: center;
        align-self: flex-start;

        &:hover {
            color: var(--secundaria);
        }
    }
}

.owl-carousel {

    .carrossel {
        margin: 0 15px;
        border-radius: 18px;
    }

    .owl-nav {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .owl-prev,
    .owl-next {
        font-family: bootstrap-icons !important;
        font-size: 28px !important;
        color: var(--navmenu) !important;
        line-height: 50px !important;
        padding: 5px !important;
        margin: 0 10px;

        span {
            display: none;
        }
    }

    .owl-prev {
        &::before {
            content: "\F129";
        }
    }

    .owl-next {
        &::before {
            content: "\F133";
        }
    }

    img {
        border-radius: 16px;
    }
}

.portfolio {
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        list-style: none;
        padding-left: 0;
    }

    .filter-menu {
        text-align: center;
        margin-bottom: 30px;

        li {
            display: inline-block;
            color: var(--link);
            margin-right: 20px;
            border: 1px dotted transparent;
            cursor: pointer;

            &:last-child {
                margin-right: 0px;
            }
        }

        :hover {
            color: var(--link-hover);
        }

        .current {
            font-weight: bold;
            text-decoration: none;
            color: var(--link-hover);
            border-top: 1px dotted;
            border-bottom: 1px dotted;
            cursor: default;
        }
    }

    .filter-item {
        li {
            width: 100%;
            max-width: 314px;
            height: 100%;
            max-height: 225px;
            overflow: hidden;
            float: left;
            margin: 8px;
            border-radius: 10px;
            outline: 1px solid $cinza-medio;

            @include media(lg) {
                max-width: 300px;
            }

            @include media(lg-abaixo) {
                max-width: 355px;
            }

            @include media(sm-abaixo) {
                max-width: 47%;
                max-height: 146px;
                margin: 4px;
            }

            &.active {
                transition: all 0.5s ease;
            }

            &.delete {
                width: 0%;
                padding: 0;
                margin-right: 0px;
                margin-bottom: 0px;
                border: 0px;
                transition: all 0.5s ease;

                h5,
                p {
                    display: none;
                }
            }

            h6 {
                color: #fff;
            }

            img {
                max-width: 101%;
                height: auto;
                margin-top: -41px;
                cursor: pointer;

                @include media(sm-abaixo) {
                    margin-top: 0px;
                }
            }

            @include media(lg-acima) {
                &:hover {
                    .legenda {
                        transition: .32s;
                        top: 188px;
                    }
                }
            }

            .legenda {
                position: relative;
                top: 188px;
                width: 100%;
                color: $cinza-claro;
                padding: 10px;
                transition: .32s;
                background-color: rgba(0, 0, 0, .85);

                @include media(lg-acima) {
                    top: 228px;
                }

                @include media(sm-abaixo) {
                    top: 188px;
                    display: none;
                }
            }
        }
    }
}

/*FILTRO PORTFOLIO ANIMAÇÃO*/
/* Estado padrão do item (visível e com zoom normal) */
.filter-item li {
    transform: scale(1);
    opacity: 1;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Estado de sumiço (zoom out e desaparecimento) */
.filter-item li.zoom-out {
    transform: scale(0);
    opacity: 0;
}

/*FILTRO PORTFOLIO ZOOM CLICK IMAGEM*/
.modal-imgzoom {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.9);

    .box-imagem {
        max-width: 88%;
        max-height: 88vh;
        overflow-x: hidden;
    }

    .img-ampliada {
        max-width: 100%;
        height: auto;
    }

    .img-caption {
        color: $claro;
        text-align: center;
        text-transform: uppercase;
        margin-top: 5px;
        animation: .6s ease 0s 1 anime-zoom;
    }

    .close {
        position: fixed;
        top: 6px;
        right: 14px;
        font-size: $s28;
        width: 30px;
        cursor: pointer;
        animation: .6s ease 0s 1 anime-zoom;
    }

    .esquerda,
    .direita {
        position: fixed;
        top: 50%;
        left: 15px;
        font-size: $s30;
        margin-top: -40px;
        width: 30px;
        cursor: pointer;
        animation: .6s ease 0s 1 anime-zoom;
    }

    .direita {
        left: auto;
        right: 15px;
    }

    .close,
    .esquerda,
    .direita {
        color: $cinza-medio;

        &:hover {
            color: $cinza-claro;
        }
    }

    .anime-zoom {
        animation: .6s ease 0s 1 anime-zoom;
    }

    @keyframes anime-zoom {
        from {
            transform: scale(0);
        }

        to {
            transform: scale(1);
        }
    }

    .anime-entrarDireita {
        animation: .35s ease 0s 1 anime-entrarDireita;
    }

    @keyframes anime-entrarDireita {
        0% {
            transform: translateX(100%);
        }

        100% {
            transform: translateX(0);
        }
    }

    .anime-entrarEsquerda {
        animation: .35s ease 0s 1 anime-entrarEsquerda;
    }

    @keyframes anime-entrarEsquerda {
        0% {
            transform: translateX(-100%);
        }

        100% {
            transform: translateX(0);
        }
    }
}

footer {
    background-color: var(--rodape);

    .footer {
        padding: 30px 20px;

        @include media(sm-abaixo) {
            text-align: center;
        }

        p {
            font-size: $s16;
            color: $cinza-claro;
            margin-bottom: 0px;
        }

        small {
            font-size: $s14;
            color: $cinza-medio;
        }
    }

    .redes {
        margin: 0px;

        @include media(sm-abaixo) {
            margin-top: 40px;
        }
    }
}