@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "_media";
@import "_variaveis";

html {
    scroll-behavior: smooth;
}

body {
    &[data-theme="default"] {
        --primaria: #FF3100;
        --secundaria: #49BAEA;
        --areanav: transparent;
        --navmenu: $escuro;
        --menu: $claro;
        --menu-hover: var(--primaria);
        --menu-ativo: var(--secundaria);
        --rodape: $escuro;
        --titulos: $escuro;
        --fundo: var(--secundaria);
        --texto: $cinza-escuro;
        --link: var(--primaria);
        --link-hover: $escuro;
    }

    &[data-theme="dark"] {
        --primaria: #ff5500;
        --secundaria: #49BAEA;
        --areanav: transparent;
        --navmenu: $cinza-claro;
        --menu: $escuro;
        --menu-hover: var(--primaria);
        --menu-ativo: var(--secundaria);
        --rodape: $cinza-escuro;
        --titulos: $cinza-medio;
        --fundo: $cinza-escuro;
        --texto: $cinza-medio;
        --link: var(--primaria);
        --link-hover: var(--secundaria);
    }


    //TEMA DEFAULT
    &[data-theme="default"] {

        font-family: "Roboto",
            sans-serif;
        font-size: $s20;
        font-style: normal;
        color: var(--texto);
        background-color: var(--fundo);

        @include media(sm-abaixo) {
            font-size: $s18;
        }

        #home {
            background-image: url(../img/banner.jpg);
        }

        #servicos,
        #portfolio {
            background-color: $claro;
        }

        footer {
            background-color: var(--rodape);
        }
    }

    //TEMA DARK
    &[data-theme="dark"] {

        color: var(--texto);
        background-color: $escuro;

        #home {
            background-image: url(../img/banner-dark.jpg);
        }

        #servicos,
        #portfolio {
            background-color: var(--fundo);
        }

        footer {
            background-color: var(--rodape);
        }
    }
}

.primaria {
    color: var(--primaria) !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sansita", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: var(--titulos);
    margin-bottom: 0px;
}

h1 {
    font-size: $s60;

    @include media(lg) {
        font-size: $s50;
    }

    @include media(md-abaixo) {
        font-size: $s50;
    }
}

h2 {
    font-size: $s26;
    font-weight: 200;
    color: var(--primaria);
}

h3 {
    font-size: $s50;
}

h4 {
    font-family: "Roboto",
        sans-serif;
    font-size: $s30;
    font-weight: 400;
    margin-bottom: 60px;
}

a {
    color: var(--link);
    text-decoration: none;

    &:hover {
        text-decoration: none;
        color: var(--link-hover);
    }
}

p {
    a {
        color: var(--link);
        text-decoration: none;

        &:hover {
            text-decoration: none;
            color: var(--link-hover);
        }
    }
}

.btn {
    font-size: $s20;
    color: $claro !important;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 100px;
    background-color: var(--primaria);

    &:hover,
    &:active {
        text-decoration: none;
        color: $claro !important;
        border-color: var(--secundaria);
        background-color: $escuro;
    }
}

.btn-sm-w100 {
    @include media(sm-abaixo) {
        width: 100%;
    }
}

hr {
    margin: 1.3rem 0;
}

.botao-topo {
    @include media(sm-abaixo) {
        display: none;
    }
}

nav {
    background-color: rgba(255, 255, 255, 0.85);
    transition: 1s;

    &.menu-fundo {
        background-color: var(--areanav);
    }
}

.navbar-toggler {
    background-color: var(--primaria);
}

.navbar-collapse {
    @include media(sm-abaixo) {
        border-top: 1px solid;
        border-color: var(--link);
        margin-top: 10px;
    }
}

.menu-updown {
    top: -113px;
    transition: 1s;
}

.menu-updown-show {
    top: 0px;
    transition: 1s;
}

.navbar-nav {

    @include media(md) {
        font-size: $s16;
    }

    @include media(md-acima) {
        margin: 0 auto;
        padding: 0 15px;
        border-radius: 100px;
        background-color: var(--navmenu);
    }

    .nav-link {
        font-weight: 300;
        color: var(--menu);

        &:hover {
            color: var(--menu-hover);
        }

        &.active,
        &.show {
            color: var(--menu-ativo);
        }
    }
}

.secao {
    /* scroll-margin-top: 113px; */
    min-height: 100vh;
    padding: 50px 0px;
}

.subir {
    font-size: $s40;
    position: fixed;
    bottom: 60px;
    right: 15px;
    color: var(--primaria);
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: .32s;
    opacity: 0;
}

.subir:hover {
    color: var(--link-hover);
}

.subir.aparecer {
    opacity: 1;
}

figure {
    margin: 0px;
    transition: 1s;
    overflow: hidden;

    &.faixada {
        border-radius: 30px;
        border-bottom: 15px solid;
        border-color: var(--primaria);
    }

    &:hover {
        border-color: var(--link-hover);
        transition: 1s;
    }
}

.img-zoom {
    transition: transform 3s, filter 1.5s ease-in-out;
    transform-origin: center center;

    &:hover {
        transform: scale(1.3);
        transform-origin: center center;
    }
}

.banner {
    padding-top: 124px;
    padding-left: 0px;
    padding-right: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;

    @include media(sm-abaixo) {
        padding-top: 102px;
    }
}

.banner-titulos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;

    @include media(sm-abaixo) {
        flex-direction: column;
        position: relative;
    }

    @include media(xxl-acima) {
        padding: 0 13%;
    }

    @include media(ul-acima) {
        padding: 0 13%;
    }

    @include media(xul-acima) {
        padding: 0 380px;
    }

    h1 {
        @include media(md) {
            font-size: $s26;
        }

        @include media(sm-abaixo, lg) {
            font-size: $s40;
        }

        @include media(xxl-acima) {
            font-size: $s45;
        }
    }

    h2 {
        font-size: $s45;

        @include media(md) {
            font-size: $s26;
        }

        @include media (sm-abaixo, md-abaixo) {
            font-size: $s40;
        }

        @include media(lg) {
            font-size: $s35;
        }
    }

    p {
        font-weight: 600;
        color: var(--texto)
    }

    img {
        width: 100%;
        max-width: 470px;

        @include media(sm-abaixo) {
            max-width: 320px;
        }

        @include media(md) {
            max-width: 350px;
        }

        @include media(lg) {
            max-width: 32%;
        }

        @include media(xxl-acima) {
            max-width: 537px;
        }

        @include media(ul-acima) {
            max-width: 624px;
        }
    }
}

.redes {
    display: flex;
    justify-content: space-around;
    margin: 40px 0px;

    a {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            max-width: 42px;
        }

        p {
            font-size: $s14;
        }
    }
}

.tags {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .tag {
        font-size: $s14;
        color: $escuro;
        padding: 3px 10px;
        margin: 5px;
        border-radius: 7px;
        background-color: $cinza-medio;
    }
}

.contatos {
    display: flex;
    flex-direction: column;

    a {
        color: var(--link);
        display: flex;
        align-items: center;
        align-self: flex-start;
    }

}

textarea {
    min-height: 100px !important;
}

input,
textarea {
    border-color: $cinza-medio !important;
}

.owl-carousel {

    .carrossel {
        color: $claro;
        height: 380px;
        margin: 0 15px;
        background-color: $escuro;
    }

    .owl-nav {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .owl-prev,
    .owl-next {
        font-family: bootstrap-icons !important;
        font-size: 28px!important;
        color: var(--navmenu)!important;
        line-height: 50px!important;
        padding: 5px!important;
        margin: 0 10px;

        span {
            display: none;
        }
    }

    .owl-prev {
        &::before {
            content: "\F129";
        }
    }

    .owl-next {
        &::before {
            content: "\F133";
        }
    }
}

footer {

    .footer {
        padding: 30px 20px;

        @include media(sm-abaixo) {
            text-align: center;
        }

        p {
            font-size: $s16;
            color: $cinza-claro;
            margin-bottom: 0px;
        }

        small {
            font-size: $s14;
            color: $cinza-medio;
        }
    }

    .redes {
        margin: 0px;

        @include media(sm-abaixo) {
            margin-top: 40px;
        }
    }
}