@import url("https://fonts.googleapis.com/css2?family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
/* esse conteudo pode incluir 1 ou mais formatos de media, exemplo:
h1 {
    font-size: 40px;
    @include media(xs-abaixo) {
        font-size: 30px;
    }
    @include media(xs-abaixo, md, xl-acima) {
        font-size: 30px;
    }
} */
html {
  scroll-behavior: smooth;
}

body[data-theme="default"] {
  --primaria: #ff4e00;
  --secundaria: #49BAEA;
  --areanav: transparent;
  --navmenu: #000000;
  --menu: #ffffff;
  --menu-hover: var(--primaria);
  --menu-ativo: var(--secundaria);
  --titulos: #000000;
  --texto: #333333;
  --link: var(--primaria);
  --link-hover: #000000;
  --fundo: #ffffff;
  --rodape: #000000;
}

body[data-theme="dark"] {
  --primaria: #ff5500;
  --secundaria: #49BAEA;
  --areanav: transparent;
  --navmenu: #F1F1F1;
  --menu: #000000;
  --menu-hover: var(--primaria);
  --menu-ativo: var(--secundaria);
  --titulos: #F1F1F1;
  --texto: #CCCCCC;
  --link: var(--primaria);
  --link-hover: var(--secundaria);
  --fundo: #333333;
  --rodape: #333333;
}

body[data-theme="dark"] {
  color: var(--texto);
  background-color: #333333;
}

body[data-theme="dark"] #home {
  background-image: url(../img/banner-dark.jpg);
}

body[data-theme="dark"] #sobre {
  background-color: #000000;
}

body[data-theme="dark"] #contatos {
  background-color: #000000;
}

body[data-theme="dark"] footer {
  background-color: var(--rodape);
}

body[data-theme="dark"] .btn:hover, body[data-theme="dark"] .btn:active {
  border-color: var(--secundaria);
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  color: var(--texto);
  background-color: var(--fundo);
}

@media (max-width: 767.98px) {
  body {
    font-size: 1.125rem;
  }
}

.primaria {
  color: var(--primaria) !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sansita", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: var(--titulos);
  margin-bottom: 0px;
}

h1 {
  font-size: 3.75rem;
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  h1 {
    font-size: 3.125rem;
  }
}

@media (max-width: 991.98px) {
  h1 {
    font-size: 3.125rem;
  }
}

h2 {
  font-size: 1.625rem;
  font-weight: 200;
  color: var(--primaria);
}

h3 {
  font-size: 3.125rem;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-size: 1.875rem;
  font-weight: 400;
  margin-bottom: 60px;
}

h5 {
  font-size: 1.5rem;
  font-weight: 400;
}

a {
  color: var(--link);
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: var(--link-hover);
}

p a {
  color: var(--link);
  text-decoration: none;
}

p a:hover {
  text-decoration: none;
  color: var(--link-hover);
}

.btn {
  font-size: 1.25rem;
  color: #ffffff !important;
  padding-left: 20px;
  padding-right: 20px;
  border-color: transparent;
  border-radius: 100px;
  background-color: var(--primaria);
}

.btn:hover, .btn:active, .btn:active {
  text-decoration: none;
  color: #ffffff !important;
  border-color: transparent;
  background-color: #000000 !important;
}

@media (max-width: 767.98px) {
  .btn-sm-w100 {
    width: 100%;
  }
}

hr {
  margin: 1.3rem 0;
}

@media (max-width: 767.98px) {
  .botao-topo {
    display: none;
  }
}

nav {
  background-color: rgba(255, 255, 255, 0.85);
  transition: 1s;
}

nav.menu-fundo {
  background-color: var(--areanav);
}

.navbar-toggler {
  background-color: var(--primaria);
}

@media (max-width: 767.98px) {
  .navbar-collapse {
    border-top: 1px solid;
    border-color: var(--link);
    margin-top: 10px;
  }
}

.menu-updown {
  top: -113px;
  transition: 1s;
}

.menu-updown-show {
  top: 0px;
  transition: 1s;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .navbar-nav {
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  .navbar-nav {
    margin: 0 auto;
    padding: 0 15px;
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.5);
    border-radius: 100px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, 0.7);
  }
}

.navbar-nav .nav-link {
  font-weight: 300;
  color: var(--menu);
}

.navbar-nav .nav-link:hover {
  color: var(--menu-hover);
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: var(--menu-ativo);
}

.secao {
  /* scroll-margin-top: 113px; */
  min-height: 100vh;
  padding: 50px 0px;
}

.subir {
  font-size: 2.5rem;
  position: fixed;
  z-index: 1;
  bottom: 65px;
  right: 15px;
  color: var(--primaria);
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: .32s;
  opacity: 0;
}

.subir:hover {
  color: var(--secundaria);
}

.subir.aparecer {
  opacity: 1;
}

figure {
  margin: 0px;
  transition: 1s;
  overflow: hidden;
}

figure.faixada {
  border-radius: 30px;
  border-bottom: 15px solid;
  border-color: var(--primaria);
}

figure:hover {
  border-color: var(--link-hover);
  transition: 1s;
}

.img-zoom {
  transition: transform 3s, filter 1.5s ease-in-out;
  transform-origin: center center;
}

.img-zoom:hover {
  transform: scale(1.3);
  transform-origin: center center;
}

#home {
  background-image: url(../img/ban1.jpg);
}

.banner {
  padding-top: 124px;
  padding-left: 0px;
  padding-right: 0px;
  background-repeat: no-repeat;
  background-position: right;
  background-size: auto;
}

@media (max-width: 767.98px) {
  .banner {
    padding-top: 102px;
  }
}

.banner-titulos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
}

@media (max-width: 767.98px) {
  .banner-titulos {
    flex-direction: column;
    position: relative;
  }
}

@media (min-width: 1400px) {
  .banner-titulos {
    padding: 0 13%;
  }
}

@media (min-width: 1700px) {
  .banner-titulos {
    padding: 0 13%;
  }
}

@media (min-width: 1900px) {
  .banner-titulos {
    padding: 0 380px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .banner-titulos h1 {
    font-size: 1.625rem;
  }
}

@media (max-width: 767.98px) {
  .banner-titulos h1 {
    font-size: 2.5rem;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .banner-titulos h1 {
    font-size: 2.5rem;
  }
}

@media (min-width: 1400px) {
  .banner-titulos h1 {
    font-size: 2.8125rem;
  }
}

.banner-titulos h2 {
  font-size: 2.8125rem;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .banner-titulos h2 {
    font-size: 1.625rem;
  }
}

@media (max-width: 767.98px) {
  .banner-titulos h2 {
    font-size: 2.5rem;
  }
}

@media (max-width: 991.98px) {
  .banner-titulos h2 {
    font-size: 2.5rem;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .banner-titulos h2 {
    font-size: 2.1875rem;
  }
}

.banner-titulos p {
  font-weight: 600;
  color: var(--texto);
}

.banner-titulos img {
  width: 100%;
  max-width: 470px;
}

@media (max-width: 767.98px) {
  .banner-titulos img {
    max-width: 320px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .banner-titulos img {
    max-width: 350px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .banner-titulos img {
    max-width: 32%;
  }
}

@media (min-width: 1400px) {
  .banner-titulos img {
    max-width: 537px;
  }
}

@media (min-width: 1700px) {
  .banner-titulos img {
    max-width: 624px;
  }
}

.redes {
  display: flex;
  justify-content: space-around;
  margin: 40px 0px;
}

.redes a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.redes a img {
  max-width: 42px;
}

.redes a p {
  font-size: 0.875rem;
}

.tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.tags .tag {
  font-size: 0.875rem;
  color: #000000;
  padding: 3px 10px;
  margin: 5px;
  border-radius: 7px;
  background-color: #CCCCCC;
}

.foto-perfil {
  width: 100%;
  max-width: 500px;
  border-radius: 100%;
}

#sobre {
  background-color: #F1F1F1;
}

#contatos {
  color: #CCCCCC;
  background-color: #333333;
}

#contatos h3 {
  color: #F1F1F1;
}

.contatos {
  display: flex;
  flex-direction: column;
}

.contatos a {
  color: var(--link);
  display: flex;
  align-items: center;
  align-self: flex-start;
}

textarea {
  min-height: 100px !important;
}

input,
textarea {
  border-color: #CCCCCC !important;
}

.owl-carousel .carrossel {
  color: #ffffff;
  margin: 0 15px;
  background-color: #000000;
}

.owl-carousel .owl-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.owl-carousel .owl-prev,
.owl-carousel .owl-next {
  font-family: bootstrap-icons !important;
  font-size: 28px !important;
  color: var(--navmenu) !important;
  line-height: 50px !important;
  padding: 5px !important;
  margin: 0 10px;
}

.owl-carousel .owl-prev span,
.owl-carousel .owl-next span {
  display: none;
}

.owl-carousel .owl-prev::before {
  content: "\F129";
}

.owl-carousel .owl-next::before {
  content: "\F133";
}

.owl-carousel .carrossel {
  border-radius: 18px;
}

.owl-carousel img {
  border-radius: 16px;
}

footer {
  background-color: var(--rodape);
}

footer .footer {
  padding: 30px 20px;
}

@media (max-width: 767.98px) {
  footer .footer {
    text-align: center;
  }
}

footer .footer p {
  font-size: 1rem;
  color: #F1F1F1;
  margin-bottom: 0px;
}

footer .footer small {
  font-size: 0.875rem;
  color: #CCCCCC;
}

footer .redes {
  margin: 0px;
}

@media (max-width: 767.98px) {
  footer .redes {
    margin-top: 40px;
  }
}
