@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

/* ↓CSS ZOOM IMG↓ */
.modal-img {
  display: none;
  place-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background-color: #121212;
}

.modal-img img {
  max-width: 80%;
  height: auto;
  animation: .6s ease 0s 1 zoom-img;
}

@keyframes zoom-img {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* ↑CSS ZOOM IMG↑ */
body {
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  background-image: linear-gradient(to bottom right, #7471ff, #6a0185);
}

h1 {
  font-size: 2.125rem;
  font-weight: 600;
  text-align: center;
  color: #fff;
}

h2 {
  font-size: 0.875rem;
  font-weight: 500;
  text-align: center;
  color: #fff;
  margin-bottom: 10px;
}

b {
  font-size: 1.125rem;
  font-weight: 300;
  display: block;
}

a {
  text-decoration: none;
  color: #fff;
}

.cartao {
  width: 100%;
  max-width: 540px;
  min-height: 100vh;
  margin: 0 auto;
}

.corpo {
  padding: 20px;
  /* background-image: linear-gradient(to bottom right, #7471ff, #6a0185); */
}

.box {
  padding: 6px;
  border-radius: 8px;
  border: 2px solid rgba(255, 255, 255, 0.4);
}

.topo {
  text-align: center;
  color: #fff;
}

.perfil {
  width: 100%;
  max-width: 175px;
  display: block;
  margin: 0 auto 15px auto;
}

.redes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  max-width: 370px;
  margin: 20px auto;
}

.redes a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.redes p {
  font-size: 0.75rem;
}

.botoes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.botoes img {
  margin-bottom: 20px;
}

.botoes a + a img {
  margin-bottom: 0;
}

.contatos {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  margin: 15px 0px 20px 0px;
}

.compartilhar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 340px;
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 8px;
  padding: 8px;
  margin: 0 auto;
}

.compartilhar .icones {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 72px;
}

.compartilhar h2 {
  margin: 0px;
}

.compartilhar img {
  max-width: 28px;
}

footer {
  font-weight: 200;
  text-align: center;
  padding: 6px 0px;
  background-color: #a67b58;
  background-image: linear-gradient(to right, #3e004f, #6f3cc6, #3e004f, #6f3cc6, #3e004f);
}

footer a {
  text-decoration: none;
  color: #fff;
}

footer a:hover {
  text-decoration: underline;
}
